* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    153deg,
    rgba(0, 212, 255, 1) 47%,
    rgba(244, 210, 245, 1) 47%
  );
  font-family: "Rubik", sans-serif;
  color: #78909c;

  .App-container {
    width: 80%;
    height: 80%;
    margin: 0;
    padding: 0;
    border: 1px solid red;
  }
}
