.vote {
  display: flex;
  flex-direction: row;
  margin-right: 4em;
  justify-content: center;
  align-items: center;
}

.vote-up,
.vote-down {
  cursor: pointer;
}

.vote-count {
  margin: 0 0.5em;
  font-weight: bold;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  -webkit-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.2);
}
